@model List<ResultGuestDto>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
}

<h1>Misafirler</h1>

<div class="table-responsive">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>#</th>
                <th>Adı</th>
                <th>Soyadı</th>
                <th>Şehir</th>
                <th>İşlemler</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.GuestId</td>
                        <td>@item.Name</td>
                        <td>@item.Surname</td>
                        <td>@item.City</td>
                        <td>
                            <a href="/Guest/DeleteGuest/@item.GuestId" class="btn btn-danger btn-sm">Sil</a>
                            <a href="/Guest/UpdateGuest/@item.GuestId" class="btn btn-primary btn-sm">Güncelle</a>
                            <a href="#" class="btn btn-dark btn-sm">Detaylar</a>
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="5" class="text-center">Veri bulunamadı.</td>
                </tr>
            }
        </tbody>
    </table>
</div>

<a href="/Guest/AddGuest/" class="btn btn-outline-info">Yeni misafir giriş</a>
